<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a class="logo" href="/">Daily Tracker</a>
                <ul class="nv-l">
                    <li><a href="/entries/create">Make Entry</a></li>
                    <li><a href="/entries/AllEntries">All Entries</a></li>
                    <li><a href="/entries/report">Report</a></li>
                </ul>
                <ul class="nv">
                <li><a href="/about">About</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
   
            </div>
        </header>
