<% include ../partials/head %>
<div class="wrapper">
    <h1>This is about us</h1>
    <div class="ra-r">
        <div class="container">
            <p>This is the contents of the aboutus.ejs file</p>
        </div>
    </div>
</div>
<% include ../partials/foot %>